<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    <div>
      <p>User Id: <%= post.id %></p>
      <p>Username: <%= post.username %></p>
      <img src="/<%=post.image%>" />
      <p>Name: <%= post.name %></p>
      <p>Age: <%= post.age %></p>
      <p>Post content: <%= post.content %></p>

    </div>
    
</body>
</html>